// reset everything
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0 solid transparent;
}

// prevent iOS font size change
html {
	-webkit-text-size-adjust: 100%;
}

// reset body line-height
body {
	min-height: 100vh;
	line-height: 1;
	text-rendering: optimizeSpeed;
}

// all media elements set to block and full width
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	max-width: 100%;
}

// inherit fonts for inputs and buttons
input,
button,
textarea,
select {
	font: inherit;
	line-height: inherit;
	color: inherit;
	border-width: 1px;
	border-style: solid;
	border-color: #95a5a6;
	border-radius: 3px;
	padding: 6px;
	font-size: 24px;
}

// form block
.form {
	display: flex;
	align-items: center;

	&__label {
		display: flex;
		align-items: center;
		margin-right: 12px;
	}

	&__label-txt {
	}

	&__control {
	}

	&__quiz {
		font-size: 28px;
		margin-right: 8px;
	}

	&__btn {
		cursor: pointer;
	}
}

// holder block
.layout {
	min-height: 100vh;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.holder {
}

.main {
	display: flex;
	align-items: center;
	flex: 1;
}
