// reset everything
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0 solid transparent;
}

// prevent iOS font size change
html {
	-webkit-text-size-adjust: 100%;
}

// reset body line-height
body {
	min-height: 100vh;
	line-height: 1;
	text-rendering: optimizeSpeed;
}

// all media elements set to block and full width
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	max-width: 100%;
}

// inherit fonts for inputs and buttons
input,
button,
textarea,
select {
	font: inherit;
	line-height: inherit;
	color: inherit;
	border-width: 1px;
	border-style: solid;
	border-color: #95a5a6;
	border-radius: 3px;
	padding: 6px;
	font-size: 24px;
	cursor: pointer;
}

// form block
.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 24px 0;
	border: 2px solid #f1c40f;
	padding: 24px;

	@media only screen and (min-width: 768px) {
		flex-direction: row;
	}

	&__label {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 12px;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
			margin-right: 12px;
			margin-bottom: 0px;
		}
	}

	&__label-txt {
	}

	&__control {
		max-width: 260px;
		width: 100%;
	}

	&__quiz {
		font-size: 28px;
		margin-bottom: 12px;

		@media only screen and (min-width: 768px) {
			margin-bottom: 0;
			margin-right: 12px;
		}
	}

	&__btn {
		cursor: pointer;
		background-color: #3498db;
		border-color: #2980b9;
		border-width: 2px;
		color: #fff;
		padding: 8px 16px;
		opacity: 1;
		transform: scale(1);
		transition: all 0.2s ease-in;

		&:hover {
			opacity: 0.8;
			transform: scale(0.9);
		}
	}
}

// holder block
.layout {
	min-height: 100vh;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 10px;
}
.holder {
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
	position: relative;
	width: 100%;
}

.counters {
	font-size: 24px;
	margin: 8px 0px;
	&.isCorrect {
		color: #27ae60;
	}
	&.isInCorrect {
		color: #c0392b;
	}
	span {
	}
}

.mode {
	margin: 24px 0;

	&__heading {
		margin-bottom: 24px;
		text-align: center;
		font-size: 32px;
	}

	&__list {
		list-style: none;
		flex-direction: column;
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		@media only screen and (min-width: 480px) {
			flex-direction: row;
		}
	}

	&__item {
		margin: 10px 12px;
	}

	&__btn {
		font-size: 20px;
		min-width: 100px;
		border-width: 2px;
		border-style: solid;
		color: #ecf0f1;
		outline-width: 4px;
		outline-color: transparent;
		outline-style: double;
		transform: scale(1);
		opacity: 0.9;
		transition: all 0.2s ease-in;
		&:hover {
			opacity: 1;
			transform: scale(0.9);
		}
		&.is-active {
			outline-color: #2980b9;
		}
	}

	&__easy {
		background-color: #2ecc71;
		border-color: #27ae60;
	}
	&__medium {
		background-color: #e67e22;
		border-color: #d35400;
	}
	&__hard {
		background-color: #e74c3c;
		border-color: #c0392b;
	}
}

.notification {
	position: absolute;
	top: 14px;
	left: 50%;
	transform: translate(-50%, calc(-100% - 14px));
	border-color: #34495e;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	min-width: 320px;
	text-align: center;
	font-size: 24px;
	padding: 14px;
	opacity: 0;
	background-color: #fff;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in;

	&.is-active {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

.error {
	border-color: #e74c3c;
	color: #e74c3c;
}
